bulk_RNAseq_analysis/.snakemake/**
DIABLO_multiomics_analysis/.snakemake/**
single_cell_RNAseq_analysis/.snakemake/**
single_cell_CD8_TEM_analysis/.snakemake/**

bulk_RNAseq_analysis/results/**
DIABLO_multiomics_analysis/results/**
single_cell_RNAseq_analysis/results/**
single_cell_CD8_TEM_analysis/results/**

bulk_RNAseq_analysis/.cache/**
DIABLO_multiomics_analysis/.cache/**
single_cell_RNAseq_analysis/.cache/**
single_cell_CD8_TEM_analysis/.cache/**

single_cell_RNAseq_analysis/.keras/**

bulk_RNAseq_analysis/data/**
DIABLO_multiomics_analysis/data/**
single_cell_RNAseq_analysis/data/**
single_cell_CD8_TEM_analysis/data/**

bulk_RNAseq_analysis/DE_results/

single_cell_RNAseq_analysis/figures/*

nohup.out